<%= turbo_stream_from @discussion %>
<main class="container mx-auto px-5 flex flex-col">
  <%= render(partial: "discussions/header", locals: { discussion: @discussion }) %>
  <div id="posts">
    <%= render partial: "discussions/posts/post", collection: @posts %>
  </div>

  <div id="<%= dom_id(@new_post) %>" class="mt-4">
    <%= render "discussions/posts/form", post: @new_post %>
  </div>
</main>
