<%= turbo_frame_tag "#{dom_id(post)}_form", target: "_top" do %>
  <%= form_with(model: [post.discussion, post]) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-5">
      <%= form.label :body, class: "block text-sm font-medium text-gray-700" do %>
        <span class="font-semibold">Your Answer</span>
      <% end %>
      <%= form.rich_text_area :body, placeholder: "Reply to this discussion...", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= form.submit "Post Your Answer", class: "rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:outline-none focus:ring hover:bg-blue-700 cursor-pointer" %>
    </div>
  <% end %>
<% end %>
