<tr id="<%= dom_id(user) %>" class="cursor-pointer" onclick="window.location='/users/<%= user.slug %>';">
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap"><%= user.id %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <div class="flex items-center">
      <div class="h-10 w-10 flex-shrink-0">
        <% if user.avatar&.present? %>
          <%= image_tag user.avatar, class: "h-full w-full rounded-full" %>
        <% end %>
      </div>
      <div class="ml-3">
        <p class="whitespace-no-wrap"><%= user.full_name %></p>
      </div>
    </div>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap underline">@<%= user.slug %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap"><%= user.created_at %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <span id="user_status_<%= user.id %>">
      <span class="rounded-full px-3 py-1 text-xs font-semibold <%= @active_users.include?(user) ? 'bg-green-200 text-green-900' : 'bg-red-200 text-red-900' %>">
        <%= @active_users.include?(user) ? 'Active' : 'Inactive' %>
      </span>
    </span>
  </td>
</tr>
