<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
  <div class="flex items-center justify-between pb-6">
    <div>
      <h2 class="font-semibold text-gray-700">User Accounts</h2>
      <span class="text-xs text-gray-500">View accounts of registered users</span>
    </div>
    <%= form_tag users_path, method: :get, data: { turbo_frame: "search-results", turbo_action: "advance", controller: "search", action: "input->search#submit" } do |f| %>
      <div class="flex items-center gap-2">
        <%= text_field_tag "query", nil, placeholder: "Search...", class: "w-full max-w-xs px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700 placeholder-gray-500" %>
        <%= submit_tag "Search", class: "rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white focus:outline-none focus:ring hover:bg-blue-700" %>
      </div>
    <% end %>
  </div>
  <div class="overflow-y-hidden rounded-lg border">
    <div class="overflow-x-auto" id="users-list">
    <%= turbo_frame_tag "search-results" do %>
      <table class="w-full">
        <thead>
          <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
            <th class="px-5 py-3">ID</th>
            <th class="px-5 py-3">Full Name</th>
            <th class="px-5 py-3">Username</th>
            <th class="px-5 py-3">Created at</th>
            <th class="px-5 py-3">Status</th>
          </tr>
        </thead>
        <tbody class="text-gray-500">
          <% (@active_users + @inactive_users).each do |user| %>
            <%= render partial: 'users/user', locals: { user: } %>
          <% end %>
        </tbody>
      </table>
    <% end %>
    </div>
    <div class="items-center border-t bg-white px-5 py-5 sm:flex-row sm:justify-between">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
