<tr id="<%= dom_id(user) %>" class="cursor-pointer" onclick="window.location='/<%= user.slug %>';">
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap"><%= user.id %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <div class="flex items-center">
      <div class="h-10 w-10 flex-shrink-0">
        <% if user.avatar&.present? %>
          <%= image_tag user.avatar, class: "h-full w-full rounded-full" %>
        <% end %>
      </div>
      <div class="ml-3">
        <p class="whitespace-no-wrap"><%= user.full_name %></p>
      </div>
    </div>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap underline">@<%= user.slug %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <p class="whitespace-no-wrap"><%= user.created_at %></p>
  </td>
  <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
    <span id="user_status_<%= user.id %>">
      <%= render partial: 'pages/user_status', locals: { status: @active_users.include?(user) ? 'Active' : 'Inactive' } %>
    </span>
  </td>
</tr>
