<% is_friends = current_user.friend_with?(user) %>
<% sent_invitation = current_user.sent_invitations.find { |inv| inv.friend_id == user.id } %>
<% received_invitation = current_user.received_invitations.find { |inv| inv.user_id == user.id } %>

<% if !is_friends && !sent_invitation && !received_invitation %>
  <%= form_with(url: invitations_path, method: :post, local: true) do |form| %>
    <%= form.hidden_field :user_id, value: user.id %>
    <%= form.submit "Connect", class: "px-4 py-2 text-gray-300 bg-gray-700 rounded-md cursor-pointer hover:bg-gray-600" %>
  <% end %>
<% elsif sent_invitation %>
  <span class="px-4 py-2 bg-gray-400 text-white rounded-md">Pending</span>
<% elsif received_invitation %>
  <div class="flex space-x-2">
    <%= button_to "Accept", accept_invitation_path(received_invitation), method: :post, class: "px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600" %>
    <%= button_to "Decline", decline_invitation_path(received_invitation), method: :post, class: "px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none focus:bg-red-600" %>
  </div>
<% elsif is_friends %>
  <span class="px-4 py-2 bg-green-500 text-white rounded-md">Connected</span>
<% end %>
