    <div class="flex-grow flex flex-col">
      <div class="flex flex-grow">
        <div class="w-96 bg-gray-700 text-white p-5">
          <h2 class="text-xl mb-4"><%= simple_format @challenge.name %></h2>
          <p class="mb-4"><%= simple_format @challenge.description %></p>
        </div>

        <div class="flex-grow flex flex-col"
          id="code-editor"
          data-controller="codemirror"
          data-method-template="<%= @challenge.method_template %>"
          data-tests="<%= @challenge.tests %>"
          data-challenge-id="<%= @challenge.id %>"
          data-room-id="<%= @room_id %>"
        >
          <div class="bg-gray-700 text-white p-2 flex justify-end items-center gap-2">
            <button data-action="click->codemirror#run" class="py-2 px-4 bg-blue-600 text-sm font-semibold text-white rounded-md focus:outline-none focus:ring hover:bg-blue-700 cursor-pointer" style="z-index:10;">Submit</button>
            <button 
              class="w-8 h-8 bg-white flex justify-center items-center rounded-lg"
              data-controller="copy-to-clipboard"
              data-action="copy-to-clipboard#copy"
              data-url="<%= "#{request.base_url}/challenges/#{@room_id}/#{@challenge.name}" %>"
            >
              <%= inline_svg_tag('copy-paste.svg', class: "h-6 w-6") %>
            </button>
            <span class="text-white hidden z-20" id="message">Copied!</span>
          </div>
          <textarea class="flex-grow w-full" data-codemirror-target="editor"></textarea>
        </div>
      </div>
      <div id="output" class="bg-gray-800 p-4 h-32 overflow-auto">
        <h2 class="text-lg font-semibold text-white">Test results</h2>
        <pre id="executionResult" class="text-sm text-white">Awaiting code submission</pre>
      </div>
    </div>
