<div id="<%= dom_id post %>" class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"><%= post.title %></div>
      <a href="/<%= post.user.slug %>" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"><%= post.user.full_name %></a>
      <p class="mt-2 text-gray-500"><%= truncate(post.body.body.to_plain_text, length: 100) %></p>
      <div class="mt-4">
        <%= link_to 'Read more', post, class: "text-indigo-600 hover:text-indigo-900" %>
      </div>
    </div>
  </div>
  <div class="px-6 pt-4 pb-2">
    <%= link_to "Show this post", post, class: "text-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <% if current_user == post.user %>
      <%= link_to "Edit this post", edit_post_path(post), class: "text-sm bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2" %>
    <% end %>
  </div>
</div>
