<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">
  <% if notice.present? %>
    <div class="py-2 px-4 bg-green-100 text-green-700 rounded-lg mb-4" id="notice">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="text-2xl font-bold my-4">
    <%= @post.title %>
  </h1>

  <div class="my-4 text-gray-800">
    <%= @post.body %>
  </div>

  <a href="/<%= @post.user.slug %>" class="text-sm underline mb-4">
    <div class="flex items-center gap-2">
      <%= image_tag @post.user.avatar, class: "h-16 w-16 object-cover rounded-full" %>
      <%= @post.user.full_name %>
    </div>
  </a>

  <% if current_user == @post.user %>
    <div class="flex space-x-2 my-2">
      <%= link_to "Edit this post", edit_post_path(@post), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      <%= button_to "Destroy this post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
  <%= link_to "Back to posts", posts_path, class: "bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded my-2" %>
</div>
