<div class="w-full flex">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= turbo_stream_from @category %>
    <main class="container max-w-4xl mx-auto px-5 flex flex-col inline-block">
      <%= turbo_frame_tag dom_id(@category) do %>
        <div class="bg-white shadow-md rounded-lg my-4">
          <div class="p-4 flex items-center justify-between border-b border-gray-200">
            <h1 class="text-2xl font-bold text-gray-800"><%= @category.name %></h1>
            <div class="flex space-x-2">
              <%= link_to "Edit", edit_category_path(@category), class: "text-blue-500 hover:text-blue-700 font-medium text-sm" %>
              <span>|</span>
              <%= link_to "Destroy", @category, method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-500 hover:text-red-700 font-medium text-sm" %>
            </div>
          </div>
        </div>
      <% end %>
      <%= render @category.discussions %>
    </main>

    <div class="inline-block ml-2 mt-2">
      <%= link_to "Back to categories", categories_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
