<div class="h-16 w-full flex items-center justify-between text-gray-300 bg-gray-700 px-4">
  <%= link_to "/", class: "w-14 h-14" do %>
    <%= image_tag "home.png" %>
  <% end %>
  <% if current_user %>
    <%= link_to "/posts", class: "" do %>
      <%= image_tag "icon.png" %>
    <% end %>
    <%= link_to "/invitations", class: "w-12 h-12" do %>
      <%= image_tag "notification.png" %>
    <% end %>
  <% end %>

  <div data-controller="dropdown" data-action="click@window->dropdown#closeDropdown" class="relative">
    <% if current_user %>
      <%= link_to '#', data: { action: 'dropdown#toggle' } do %>
        <% if current_user.avatar&.present? %>
          <div class="flex justify-center">
            <%= image_tag current_user.avatar, class: "h-16 w-16 object-cover rounded-full" %>
          </div>
        <% else %>
          <div class="px-3 py-3 rounded-full bg-gray-700 text-gray-300 border-double border-4 border-gray-300">
            <%= current_user.initials %>
          </div>
        <% end %>
      <% end %>

      <div class="w-56 h-56 text-gray-300 bg-gray-700 absolute top-16 hidden -left-[9rem]", data-dropdown-target="menu">
        <div class="flex flex-col gap-4 p-4">
          <%= link_to "Profile", "/#{current_user.slug}" %>
          <%= link_to "Settings", edit_user_registration_path %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: "delete" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
